@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* This is the same font we use in the app */

* {
    background-color: transparent!important;
    box-shadow: none!important;
    color: #ffffff!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 35px!important;
    text-align: left!important;
    outline: 0px solid #fff!important;
}

body {
    background-color: #0e9dd8!important;
}

section, .wrapper {
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 100vw;
    height: 100vh;
    margin: 0!important;
}

div[ng-show="!loading"] {
    height: 100%!important;
}

header {
    display: none;
}

.input-wrapper, button {
    border: 0.4vw solid #ffffff!important;
    display: block;
    width: 30%;
    height: 10vh!important;
    margin: auto;
    border-radius: 10px;
}
.ui-btn:hover, .ui-btn:focus, .ui-btn:active {
    background-color: #ffffff!important;
    color: #0e9dd8!important;
}

button {
    margin-top: 3%!important;
    width: 100%;
}

.input-box {
    height: 100%!important;
}

input.tel {
    width: 73%;
    margin-left: 0!important;
    height: 100%!important;
    text-align: left!important;
    padding-left: 3%;
    background-color: #ffffff!important;
    color: #0e9dd8!important;
}

.selected-prefix {
    width: 27%!important;
    display: inline-block!important;
    margin: 0!important;
    height: 100%!important;
    vertical-align: middle;
    line-height: 1.6;
}

.selected-prefix * {
    height: 100%!important;
    vertical-align: middle;
}

br {
    display: none;
}
br+span::before {
    content: " ";
}

.actions {
    margin: 0!important;
    width: 100vw!important;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.front .content ol.actions .step-1:before, .front .content ol.actions .step-2:before, .front .content ol.actions .step-3:before {
    width: 1em;
    height: 1em;
}

.phone-number-form {

}

.phone-number-form * {
    text-align: center!important;
    border-bottom: 0px solid #fff;
}

.content h3 {

}