@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* This is the same font we use in the app */

* {
    background: transparent!important;              /* Make everything have transparent bg - we'll set the blue bg color in body */
    font-family: 'Open Sans', sans-serif!important;
    text-shadow:0px 0px 0px transparent!important;
    color: #ffffff!important;
    border:none!important;
    box-shadow: none!important;
    overflow:visible;                               /* Set to visible in an attempt to disable scrolling (a scroll hijacker had to be made in the activity as well) */
    -webkit-touch-callout: none!important; /* Disable text selection for everything! Note: text selection on input fields is always possible... */
    -webkit-user-select: none!important; 
     -khtml-user-select: none!important; 
       -moz-user-select: none!important; 
        -ms-user-select: none!important; 
            user-select: none!important;
}
body {
    background: #0e9dd8!important;
}

input {
    border: 0.5vh solid #ffffff!important;
    opacity: 1!important;
    background:transparent!important;
    width: 100%!important;
}
.ui-input-text {
    min-width:10vw
}


body>div {
    width: 100%!important;
    margin: 0!important;
    min-width: 100%!important;
}

body {
    margin: 0!important;
    width: 100%!important;
}

.ui-header {
    display: none!important;
}


/* Font sizes */

* {
    font-size: 35px!important;
    font-weight:700!important;
}

.ui-btn {
    margin-top:0%;
}

/* Footer */
.ui-footer * {
    font-size: 15px!important;
}

/* "TEST ONLY" message */
.ui-bar-e {
    display:none!important;
}

.expdivider {
    width: 34px;
    height: 100%;
    font-size: 60px!important;
    line-height: 1.1;
}

li[data-role="fieldcontain"] input {
    width:93.5%!important;
    /* width:10%!important; */
    /* margin-right: 90px!important; */
}


.content-primary .ui-listview>li {
    width: 100%!important;
    margin:0!important;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 0;
}

.ui-block-cvc {
    line-height: 1.2;
    margin-left: 20px;
    width: 12%!important;
}

.ui-block-cvc>div {
    width: 100%!important;
}

.ui-li-divider {
    display: none!important;
}

fieldset .ui-block-a {
    width: 30%!important;
}

span img {
    width:10%;
}

ul:last-of-type .ui-li-static, ul:last-of-type .ui-li-static * {
    /* font-size: 34px!important; */
    width: auto;
    margin: 0!important;
    padding-bottom: 2px;
    /* margin-left: 1%!important; */
    display: inline;
    /* float: left; */
    /* position: relative; */
    /* clear: both; */
    /* float: none; */
    display: inline-block!important;
    /* position: absolute; */
    overflow: visible;
}
ul:last-of-type .ui-li-static p {
    text-align:left!important;
    /* line-height: 0.1; */
    /* display: initial; */
    /* position: relative; */
    width: 100%;
    /* float: left; */
    /* clear: both; */
    /* float: none; */
    display: inline-block!important;
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
}

ul:last-of-type .ui-li-static {
    display:none;
}

ul:last-of-type li:first-of-type + li, ul:last-of-type li:first-of-type + li {
    display: inline-block!important;
    padding-left: 0;
    padding-top: 0;
    /* float: left; */
    padding-right: 0;
    margin: 0!important;
    /* position: relative; */
    width: 50%!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
}

ul:last-of-type li:first-of-type + li + li, ul:last-of-type li:first-of-type + li + li {
    width: 100%!important;
    /* display:inline-block!important; */
    /* float:right; */
    /* height: 0px; */
    overflow: visible;
    position: absolute;
    float: left;
    ht; */
    /* width: auto!important; */
    display: inline!important;
    text-align: left;
    width: 35%!important;
    left: 0%;
    /* top: 1%; */
    margin-top: 2.5%!important;
}

ul:last-of-type li:first-of-type + li + li *, ul:last-of-type li:first-of-type + li + li * {
    font-size: 14px!important;
    position: relative;
    left: 0;
    text-align: right;
    width: auto!important;
}

ul:last-of-type li:first-of-type + li + li + li, ul:last-of-type li:first-of-type + li + li + li {
    display:none!important;
}

.ui-btn {
    position: absolute!important;
    bottom: 10%!important;
    left:0;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}


.ui-input-text input {
    background: #ffffff!important;
    color: #0e9dd8!important;
}



ul[data-role="listview"]:last-of-type, ul[data-role="listview"]:last-of-type + h1 {
    /* width: 40%; */
    margin: 0;
    text-align:left;
    font-size: 30px;
    width: 100%!important;
    height: auto;
    /* float: left; */
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: -100px!important;
}

ul[data-role="listview"]:last-of-type li {
    display: inline;
}

ul[data-role="listview"]:last-of-type + h1 {
    width: 100%;
    text-align:center;
    margin-top: 3%!important;
}

input {
    text-align: center!important;
}
li[data-role="fieldcontain"] input {
    text-align:left!important;
}

strong::after {
    content: ":";
}
