@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    background: #0e9dd8!important;
    font-family: 'Open Sans', sans-serif!important;
    text-shadow:0px 0px 0px transparent!important;
    color: #ffffff!important;
    border:none!important;
}

input {
    border: 2px solid #ffffff!important;
    opacity: 1!important;
    background:transparent!important;
}


body>div {
    width: 100%!important;
    margin: 0!important;
    min-width: 100%!important;
}

body {
    margin: 0!important;
    width: 100%!important;
}

.ui-header {
    display: none!important;
}

h1>img {
    display:none!important;
}

/* Font sizes - relative to body */

* {
    font-size: 30px!important;
}

.ui-btn {
    margin-top:0%;
}

/* Footer */
.ui-footer * {
    font-size: 15px!important;
}

/* "TEST ONLY" message */
.ui-bar-e {
    display:none!important;
}
